.wrapper{
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}

li {
  list-style: none;
}

#header li a {
  color: #24292e;
}

a {
  text-decoration: none;
}